[Unit]
Description=PeopleSoft DB Service for HR92U038
Before=getty-pre.target
After=network-online.target psft-netupdate.service
Wants=network-online.target psft-netupdate.service

[Service]
Type=oneshot
WorkingDirectory=/opt/oracle/psft/db/oradata/HR92U038
ExecStart=/opt/oracle/psft/db/psft-db-HR92U038.sh start
ExecStop=/opt/oracle/psft/db/psft-db-HR92U038.sh stop
RemainAfterExit=yes
TimeoutSec=240

[Install]
WantedBy=multi-user.target