[Unit]
Description=PeopleSoft PIA Service for /home/psadm2/psft/pt/8.58/webserv/peoplesoft
Before=getty-pre.target
After=network-online.target psft-appserver-APPDOM.service
Wants=network-online.target psft-appserver-APPDOM.service

[Service]
Type=oneshot
WorkingDirectory=/home/psadm2/psft/pt/8.58/webserv/peoplesoft
ExecStart=/home/psadm2/psft/pt/8.58/webserv/peoplesoft/psft-pia-peoplesoft.sh start
ExecStop=/home/psadm2/psft/pt/8.58/webserv/peoplesoft/psft-pia-peoplesoft.sh stop
RemainAfterExit=yes
TimeoutSec=180

[Install]
WantedBy=multi-user.target