[Unit]
Description=PeopleSoft Application Server Service for /home/psadm2/psft/pt/8.58/appserv/APPDOM
Before=getty-pre.target
After=network-online.target psft-db-HR92U038.service
Wants=network-online.target psft-db-HR92U038.service

[Service]
Type=oneshot
WorkingDirectory=/home/psadm2/psft/pt/8.58/appserv/APPDOM
ExecStart=/home/psadm2/psft/pt/8.58/appserv/APPDOM/psft-appserver-APPDOM.sh start
ExecStop=/home/psadm2/psft/pt/8.58/appserv/APPDOM/psft-appserver-APPDOM.sh stop
RemainAfterExit=yes
TimeoutSec=180

[Install]
WantedBy=multi-user.target