[Unit]
Description=a service to start databases and listener automatically
After=syslog.target network.target

[Service]
LimitNOFILE=1024:65536
LimitNPROC=2047:16384
LimitSTACK=10485760:33554432
LimitMEMLOCK=infinity

Type=forking

User=psoft
Group=psoft

ExecStart=/app/psoft/db/oracle-server/19.3.0.0/bin/dbstart /app/psoft/db/oracle-server/19.3.0.0
ExecStop=/app/psoft/db/oracle-server/19.3.0.0/bin/dbshut /app/psoft/db/oracle-server/19.3.0.0

RemainAfterExit=True
Restart=no

[Install]
WantedBy=multi-user.target