[Unit]
Description=PeopleSoft PIA
After=network-online.target oracledb.service
Wants=network-online.target oracledb.service

[Service]
EnvironmentFile=/app/psoft/pt/psft_env.sh
Type=forking
User=psoft
Group=psoft
ExecStart=/app/peoplesoft-admin/systemd/service_start.sh
ExecStop=/app/peoplesoft-admin/systemd/service_stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target