[Unit]
Description=PeopleSoft PIA
After=network-online.target oracledb.service
Wants=network-online.target oracledb.service

[Service]
Type=oneshot
User=psoft
Group=psoft
ExecStartPre=source /app/psoft/pt/psft_env.sh
ExecStart=/app/peoplesoft-admin/scripts/start_all.sh -y
ExecStop=/app/peoplesoft-admin/scripts/stop_all.sh -y
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target