[Unit]
Description=PeopleSoft PIA
After=network-online.target oracledb.service
Wants=network-online.target oracledb.service

[Service]
Type=oneshot
User=psoft
Group=psoft
WorkingDirectory=/home/psadm2/psft/pt/8.58/appserv/APPDOM
ExecStart=/app/scripts/start_all.sh -y
ExecStop=/app/scripts/stop_all.sh -y
RemainAfterExit=yes
TimeoutSec=180

[Install]
WantedBy=multi-user.target